:root {
    --display: 'Lexend Deca', sans-serif;
    --body: 'Open Sans', sans-serif;
    --primary-light: #fff;
    --char-grey: #222;
    --medium-grey: #CBCBCB;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 112.5%;
}


/*18px*/

body {
    box-sizing: border-box;
    background-color: #fff;
    color: var(--char-grey);
    font-family: var(--body);
    font-weight: 400;
    line-height: 1.5;
    /* margin-left: 3rem;
    margin-right: 3rem; */
}

p {
    /* margin-bottom: 1rem; */
}

h1,
h2,
h3,
h4,
h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 7.594rem;
}

h2 {
    font-size: 5.063rem;
}

h3 {
    font-size: 3.375rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.5rem;
}

small,
.text_small {
    font-size: 0.667rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3rem;
    border-bottom: solid 1px var(--char-grey);
}

nav a {
    text-decoration: none;
    color: inherit;
}

div.links {
    display: flex;
    height: 3rem;
    align-items: center;
    /* border: solid 1px blue; */
}

.nav_box {
    display: flex;
    align-items: center;
    /* font-size: 1rem; */
    font-weight: 500;
    height: 3rem;
    border-left: solid 1px var(--char-grey);
}

.nav_box>a {
    padding: 1.5rem;
}

.nav_logo {
    width: 6rem;
    font-family: var(--display);
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    border-right: solid 1px var(--char-grey);
}


/* toggle switch styling */

.toggle_container {
    /* border: solid 1px hotpink; */
    margin-left: auto;
    margin-right: 1.5rem;
}

input[type=checkbox] {
    /* styling for input element */
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch {
    /* styling for labels */
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 30px;
    background: var(--medium-grey);
    float: right;
    border: solid 1px var(--char-grey);
    border-radius: 100px;
    position: relative;
}

.switch:after {
    /* styling for labels - on toggle */
    content: '';
    position: absolute;
    top: 4px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: solid 1px var(--char-grey);
    border-radius: 90px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

input :checked+label {
    /* conditional check while toggling */
    background: var(--medium-grey);
}

input:checked+label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.switch:active:after {
    width: 45px;
}

header {
    margin-left: 6rem;
    margin-right: 6rem;
}

.spacer_container_top {
    width: 100%;
    display: flex;
    margin-top: 3rem;
}

.spacer_container_bottom {
    width: 100%;
    display: flex;
}

.spacer_top_L,
.spacer_top_R {
    border-top: solid 1px var(--char-grey);
    height: 5rem;
    width: 100%;
}

.spacer_top_L,
.spacer_bottom_L {
    border-right: solid 1px var(--char-grey);
}

.spacer_bottom_L,
.spacer_bottom_R {
    margin-top: 0;
    border-bottom: solid 1px var(--char-grey);
    height: 5rem;
    width: 100%;
}

.nametag {
    border-top: solid 1px var(--char-grey);
    border-left: solid 1px var(--char-grey);
    border-right: solid 1px var(--char-grey);
    height: 3rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.nametag :first-child {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border-right: solid 1px var(--char-grey); */
}

.nametag :first-child p {
    text-align: center;
    height: 100%;
    margin-bottom: 0;
}

.nametag :nth-child(2) {
    grid-column: 2/3;
    border-left: solid 1px var(--char-grey);
}

.cbcb {
    background-color: #CBCBCB;
}

header h1 {
    border: solid 1px var(--char-grey);
    text-align: center;
    margin-bottom: 0;
    font-size: 11vw;
}

.spacer_text p {
    margin-left: 3rem;
    line-height: 1.3rem;
    font-weight: 100;
    vertical-align: middle;
}

.spacer_text :first-child {
    font-weight: 600;
    padding-top: 1rem;
}